<!DOCTYPE html>
<html lang="fr">
<head>
    <% include ../partials/head %>
</head>
<body>


<main class="container">
        <div class="jumbotron mt-5">
            <% if(!isConnected) { %>

            <h1 class="display-4">Bienvenue !</h1>
                <p class="lead">Voici un lien pour inviter notre bot sur ton serveur Discord !</p>
                <hr class="my-4">
                <h4 class="text-center"><a href="<%= link %>" target="_blank"><%= link %></a></h4>
                <hr class="my-4">
                <div class="row text-center">
<!--                <img src="/images/discord.svg" alt="Discord logo" width="200" height="100">-->
                </div>
                <p class="lead text-center mb-4">Après réception de vos indentifiants par message privé vous pouvez vous connecter ici</p>
                <form class="form-signin" action="home" method="post">
                        <input name="id" type="text" id="inputEmail" class="form-control" placeholder="Identifiant" required autofocus>
                        <input name="pwd" type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
                </form>
            <% } else if(isConnected) { %>
                <h3 class="text-center mb-4">Tu es déjà connecté !</h3>
                    <div class="col-md-4 text-center mx-auto">
                        <a class="btn btn-primary btn-lg center-block" href="admin" role="button">Admin Panel</a>

                    </div>
                <% } %>
        </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>